name: CI/CD

on:
  pull_request:
    branches: [ master ] 
  push:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Test
        run: npm test
        run: codecov -f coverage/*.json